body {
	font-family: 'Libre-Franklin', cursive;
	margin: 0;
	padding: 0;
	font-weight: 100;
	box-sizing: border-box;
}
header {
	box-shadow: 0 4px 100px rgba(0, 0, 0, 0.0);
	background-color: #fff;
	padding : 0px 100px;
	height : 50px;
    border-bottom: 4px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h1 {
	font-family: 'Licorice', cursive;
	font-size: 36px;
	font-weight: 400;
	font-style: normal;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
	text-decoration: none;
}
.h1:hover {
	transform: scale(0.85);
}
header .search-bar {
    position: relative;
    width: 355px;
}
.search-bar .search-icon {
    position: absolute;
    right: 14px;
    top: 49%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #007bff;
}
.search-bar .slash-icon {
    position: absolute;
    right: 35px;
    top: 44%;
	transform: translateY(-50%);
    font-size: 20px;
    color: #007bff;
}
header input[type="text"] {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 350px;
}
header .icons {
    display: flex;
    align-items: left;
}
header .icons a {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
    font-size: 20px;
}
.icons .cart-icon {
	width:25px;
	color:2893CF;
	margin-bottom:2px;
}
.icons .paper-icon {
	margin-left: 15px;
    width:22px;
}
.icons .heart-icon {
	margin-left: 15px;
    width:22px;
	margin-top: 4px;
	color:red;
}
.icons .slash {
	font-size: 25px;
	color:2893CF;
	margin-top: 3%;
}
.icons .slashtwo {
	font-size: 30px;
	color:2893CF;	
	margin-top: 2%;
}
.icons .chat-icon {
	margin-left: 15px;
    width:22px;
	margin-top: 4px;
	color:red;
}
.icons .menu-icon {
	margin-left: 15px;
    width:30px;
	margin-top: 4px;
	color:red;
}
.icons .signin {
	font-family: 'Libre-Franklin', cursive;
	font-style: normal;
	font-weight: 100;
    font-size: 18px;
	margin-top: 8px;
	margin-right: 14px;
	color:2893CF;
}
.icons .signin:hover {
	transform: scale(0.85);
}
.icons .cart-icon:hover {
	transform: scale(0.85);
}
.icons .paper-icon:hover {
	transform: scale(0.85);
}
.icons .heart-icon:hover {
	transform: scale(0.85);
}
.icons .chat-icon:hover {
	transform: scale(0.85);
}
.icons .profile:hover {
	transform: scale(0.85);
}
.icons .menu-icon:hover {
	transform: scale(0.85);
}
.container {
	padding: 90px;
	background-color: #f8f8f8		
}
.section {
	box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);
	justify-content: center;
	background-color: #fff;
	width: 100%;
	height: 465px;
	margin-bottom: 50px;
	border-radius: 5px;
}
.section h2 {
	font-family: 'Licorice', cursive;
	font-style: normal;
	font-size: 20px;
	margin-bottom: 20px;
}
.section .items {
	display: flex;
	gap: 10px;
	justify-content: left;
	width: 1050px;
}
.section .items a{
	text-decoration: none;
    color: inherit;
    display: block;         
}
.item {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	border-radius: 9px;
	padding: 10px;
	margin-left: 40px;
	text-align: center;
	flex: 0 0 150px;
}
.item img {
	width: 385px;
	height: 100%;
	object-fit: cover;
	border-radius: 8px;
	margin-bottom: 10px;
}
.item .status {
	display: inline-block;
	padding: 2px 6px;
	border-radius: 4px;
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: bold;
}
.status.ready {
	background-color: #28a745;
	color: #fff;
	border-radius:3px;
	padding: 2px 6px;
}
		
.item .status.out {
	background-color: #dc3545;
	color: #fff;
}
.title {
	font-size: 30px;
	width : 650px;
	margin-bottom: 5px;
}
.price {
	font-size: 18px;
	color: #007bff;
}
h2 {
	font-family: 'Libre-Franklin', cursive;
	font-style: normal;
	font-weight: 100;
	font-size: 20px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
footer {
	background-color: #fff;
	padding: 40px;
	border-top: 1px solid #ddd;
}

footer .links {
	display: flex;
	justify-content: left;
	margin-bottom: 10px;
}
footer .links div {
	text-align: left;
	padding-right:10px;		
}
footer .links a {
	display: block;
	color: #333;
	text-decoration: none;
	font-size: 12px;
	margin: 0px 0;
}
.footer hr {
	border: 0;
	height: 1px;
	background: #ccc;
	margin: 20px 0;
}
.footer .bottom-text {
	display: flex;
	font-size: 12px;
	color: #777;
	justify-content: space-between;
	flex: 1;
}
.brandam{
	width: 150px;
	padding-left:5px;
	padding-top:5px;
	color: #777;
	font-family: 'Libre-Franklin', cursive;
	font-style: reguler;
	font-weight: 1;
	font-size: 18px;
}
.aboutkiri{
	font-family: 'Libre-Franklin', cursive;
	font-style: normal;
	font-size: 12px;
	color:#4d4d4d;
	text-align:right;
	
}
h4{
	font-family: 'Libre-Franklin', cursive;
	font-weight:100;
	font-style: normal;
	color:000000;
	font-size:16px;
}
a{
	font-family: 'Libre-Franklin', cursive;
	font-weight:100;
	font-style: normal;
	color:#4d4d4d;
}
.aboutkanan{
	font-family: 'Libre-Franklin', cursive;
	font-style: normal;
	font-size: 12px;
	color:#4d4d4d;
	text-align: right;
	flex : 1;
}
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
	margin-top: 4px;
}
.profile-foto {
    width: 30px;
    border-radius: 10%;
}
.profile-name {
    margin-top: 0px;
    font-size: 14px;
    text-align: center;
}
.vertical-rule {
    width: 2px;	
    background-color: #ccc;
    height: 140px;
    margin: -115px 250px;
    display: inline-block; 
}
.horizontal-linea{
	margin: 30px 0px;
	width:650px; 
}
.descript{
	margin: 0px 20px;
}
.rent{
	background-color: #28a745;
	font-family: 'Libre-Franklin', cursive;
	color: #fff;
	border-radius:5px;
	padding: 2px 6px;
	margin: 0px 500px;
	font-size: 40px;
	text-decoration: none;
	border : 2px solid #4CAF50;
}
.tombolrent{
	display: inline-block;
	text-align: center;
	width: 100%;
	background-color: #28a745;
	font-family: 'Libre-Franklin', cursive;
	color: #fff;
	border-radius:5px;
	padding: 2px 6px;
	margin: 20px 410px;
	font-size: 30px;
	text-decoration: none;
	max-width: 240px;
	border : 2px solid #4CAF50;
}
.tombolrent:hover{
	transform: scale(0.85);
}
.container2 {
    text-align: center;
    padding: 50px;
}
.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 600px;
	max-height: 1000px;
    border-radius: 10px;
	text-align: left;
	margin : 100px 28%;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.popup-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-footer .btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.popup-footer .btn.green {
	font-family: 'Libre-Franklin', cursive;
    background-color: green;
    color: white;
    border: none;
	border-radius: 5px;
}

.popup-footer .btn.green:hover {
    background-color: darkgreen;
}

.payment-methods img {
    width: 100%;
    height: auto;
}
